<launch>
    <arg name="world" default="worlds/empty.world"/>

    <param name="/use_sim_time" value="true" />

    <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"
          args="-e ode $(arg world)" required="false"/>

    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" required="true"/>

    <node pkg="pr2_controller_manager" type="spawner" args="left_wheel_effort_controller right_wheel_effort_controller left_wheel_position_controller right_wheel_position_controller --shutdown timeout 1"/>

    <rosparam file="$(find buzzmobile)/simulation/models/car/service_controllers_to_joints_urdf_mapping.yaml"

    <param name="robot_description" command="cat $(find buzzmobile)/simulation/models/buzzmobile/urdf/buzzmobile.urdf"/>

    <node name="sim_car_interface" pkg="buzzmobile" type="sim_car_interface" respawn="false" output="screen" />

    <node name="spawn_platform_script" pkg="buzzmobile" type="spawn_buzzmobile_platform.sh" />
</launch>
