<launch>
    <rosparam command="load" file="$(find buzzmobile)/constants.yaml"/>

    <include file="$(find buzzmobile)/launch/includes/sensors.launch"/>
    
    <group ns="buzzmobile">
        <include file="$(find buzzmobile)/launch/includes/gps.launch"/>
        <include file="$(find buzzmobile)/launch/includes/mapping.launch"/>
        <include file="$(find buzzmobile)/launch/includes/steering.launch"/>
        <include file="$(find buzzmobile)/launch/includes/lidar.launch"/>
        <include file="$(find buzzmobile)/launch/includes/controller.launch"/>
        <include file="$(find buzzmobile)/launch/includes/interface.launch"/>
        <include file="$(find buzzmobile)/launch/includes/visualization.launch"/>
    </group>
</launch>

