<launch>
    <arg name="mission_control" default="false"/>
    <arg name="gz_client" defaults="false" />
    <arg name="world" default="worlds/empty.world"/>

    <group ns="buzzmobile">
        <include file="$(find buzzmobile)/launch/includes/params.launch"/>
        <include file="$(find buzzmobile)/launch/includes/gps.launch"/>
        <include file="$(find buzzmobile)/launch/includes/mapping.launch"/>
        <include file="$(find buzzmobile)/launch/includes/steering.launch"/>
        <include file="$(find buzzmobile)/launch/includes/lidar.launch"/>
        <include file="$(find buzzmobile)/launch/includes/controller.launch"/>
        <group if="$(arg mission_control)">
            <include file="$(find buzzmobile)/launch/includes/visualization.launch"/>
        </group>
        <include file="$(find buzzmobile)/launch/includes/sim_interface.launch"/>
    </group>

    <!-- Start gazebo server, load world, optionally start viz client -->
    <param name="/use_sim_time" value="true" />
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="-e ode $(arg world)"/>
    <group if="$(arg gz_client)">
        <node pkg="gazebo_ros" name="gazebo_gui" type="gzclient"/>
    </group>

    <!-- Spawn car -->
    <node pkg="buzzmobile" name="sim_spawn_car" type="sim_spawn_car.sh" />
</launch>
