<launch>
  <group ns="buzzmobile">
    <rosparam command="load" file="$(find buzzmobile)/constants.yaml"/>
    <include file="$(find buzzmobile)/launch/steering_test/mock_sensors.launch"/>
    <include file="$(find buzzmobile)/launch/steering_test/visualization.launch"/>
    <include file="$(find buzzmobile)/launch/includes/steering.launch"/>
  </group>
</launch>
